input[numbers-only].form-control {
	max-width:100px;
	text-align: center;
}

div.editable {
  border: 2px solid #8AC007;
  padding: 10px;
  margin-top: 10px;
}

.w150 {
	width: 150px;
}

.resultInput {
	display: inline-block;
	margin: 0px 5px;
}

.excerciseButtons {
	float: right;
}

.excercise input {
	display: inline-block;
}

.m10 {
	margin:10px;
}

.sign {
	width: 20px;
	text-align: center;
	display: inline-block;
}
		
.sample-show-hide {
  -webkit-transition:all linear 5s;
  transition:all linear 5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.spinner .child, .spinner5 .child {
  position: absolute;
  border: 1px solid #ccc;
  background: rgba(255,255,255,.8);
  box-shadow: inset 0 0 20px rgba(0,0,0,.2);
}

  @-webkit-keyframes spinner5 {
    from,15% { -webkit-transform: rotateY(0deg);    }
    20%,35%  { -webkit-transform: rotateY(-72deg);  }
    40%,55%  { -webkit-transform: rotateY(-144deg); }
    60%,75%  { -webkit-transform: rotateY(-216deg); }
    80%,95%  { -webkit-transform: rotateY(-288deg); }
    to       { -webkit-transform: rotateY(-360deg); }
  }

  @keyframes spinner5 {
    from,15% {
      -moz-transform: rotateY(0);
      -ms-transform: rotateY(0);
      transform: rotateY(0);
    }
    20%,35%  {
      -moz-transform: rotateY(-72deg);
      -ms-transform: rotateY(-72deg);
      transform: rotateY(-72deg);
    }
    40%,55%  {
      -moz-transform: rotateY(-144deg);
      -ms-transform: rotateY(-144deg);
      transform: rotateY(-144deg);
    }
    60%,75%  {
      -moz-transform: rotateY(-216deg);
      -ms-transform: rotateY(-216deg);
      transform: rotateY(-216deg);
    }
    80%,95%  {
      -moz-transform: rotateY(-288deg);
      -ms-transform: rotateY(-288deg);
      transform: rotateY(-288deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
